.inline-block{
    display:inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-left: 30px;
   
   }

   header{
    background-color:#000000; 
    padding: 15px;
   
   }

 header ul{
   float: right;
   padding: -50px 11px;

 }
  header li{
   display: inline-block;
   padding: 0px 11px;
   color:white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 26px;
   font-weight: normal;
   
  }
 
 .heroImg{
 
   background-color:#71C5BD;
   padding: 100px 15px;
   
 }
  
 .content{
   padding: 50px;
    text-align:center;
    max-width: 300px;
    margin: 0 auto;
    font-family: Poppins, SF Pro, Sofia Pro, sans-serif;
    font-size: 18px;
    
 }
  
 footer{
    background-color: #000000;
    width: 100%;
   
 }
  
 .social{
    display: flex;
    justify-content: center;
  
  }
 .social a {
   margin: 10px;
 }