.inline-block{
    display:inline-block;
    vertical-align: top;
    padding-top: 18px;
    padding-left: 30px;
  
   }
/* This is the header including logo and navigation */
   header{
    background-color:#000000; 
    padding: 15px;
   
   }
/* This adjusts the position of the navigation */
 header ul{
   float: right;
   padding: -50px 11px;

 }
 /* This adjusts the font style and color of the navigation */
  header li{
   display: inline-block;
   padding: 0px 11px;
   color:white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 26px;
   font-weight: normal;
   
  }
 /* This adjusts the position and size of my image */
 .heroImg{
 
   background-color:#71C5BD;
   padding: 100px 15px;
   
 }
  /* This adjusts all related text under my image */
 .content{
   padding: 50px;
    text-align:center;
    max-width: 300px;
    margin: 0 auto;
    font-family: Poppins, SF Pro, Sofia Pro, sans-serif;
    font-size: 18px;
    
 }
 /* This is the footer including size and color */
 footer{
    background-color: #000000;
    width: 100%;
   
 }
  /* This adjusts the location of the social media icons */
 .social{
    display: flex;
    justify-content: center;
  
  }
   /* This adjusts the spacing between the social media icons */
 .social a {
   margin: 10px;
 }